html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color:#ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
    position: relative;
}

header{
    font-weight: 800;
    background-color:#82a757;
    width: 100%;
    margin: 0px 0px 30px 0px;
    padding:5px 5px 5px 5px;
}

main {
    padding:5px 5px 5px 5px;
    margin:30px 75px 30px 75px;
}

footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background-color:#82a757;
    width: 100%;
    margin: 30px 0px 0px 0px;
    padding:5px 5px 5px 5px;
}

/*All the headings will be a dark olive green*/
h1,h2,h3,h4{ 
    color:#224402;
    
}

h2,h3 {
    font-weight: 600;
}

h1,h4 {
    margin:30px 75px 30px 75px;
}

p,li {
    color: #656464;
}

.image-circle { 
    /*border radius will affect the corners of my image and allow some basic formatting*/
    border-radius: 50%;
}

a {
    font-weight: 500;
}

/*All links will change to the following colors depending on user activity*/
a:link    { color:#82a757; }
a:visited { color:#224402; }
a:hover   { color:#2a8631; }
