{
    box-sizing: border-box;/*This will be added to the top of every CSS page so that my page doesn't default to the olde method of box-sizing*/
}

body{
    background-color:#F2E2E0;
    font-family: 'Courier', sans-serif;
    color:#55403f;
}

header{
    background-color:#C7AEB0;
}

footer{
    background-color:#C7AEB0;
    height:75px;
}

h1,h2,h3,h4{ /*All the headings will be a dark olive green*/
    color:#525023;
}

.image-circle { /*border radius will affect the corners of my image and allow some basic formatting*/
    border-radius: 15%;
}

.wrapper {
    text-align:left;
    width:1000px;
    padding:5px 5px 5px 5px;
    margin:0px 10px 0px 10px;/*The top side and bottom side of the page will be set to 0px; the right and left side will be set to 10px*/
}

a{
    font-family: 'courier', sans-serif; /*sans-serif will be the last font choice and is a typeface that every device should work with*/
    font-size:15px;
}
a:link    { color:#6A5150; }
a:visited { color:#7E7D58; }
a:hover   { color:#af7573; }
a:active  { color:#737373; }
